<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="view==='terms'">Terms and Condition</ion-title>
    <ion-title *ngIf="view==='policy'">Data Privacy Policy</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card *ngIf="view==='terms'" no-padding>
    <ion-card-content no-padding>
      <ol type="I">
        <li>Accounts</li>
        <ol type="a">
          <li>Accuracy and Completeness of Information When you create an account with us, you must provide us with information
            that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which
            may result in immediate termination of your account on our Service.</li>
          <li> Passwords You are responsible for safeguarding the password that you use to access the Service and for any activities
            or actions under your password, whether your password is with our Service or a third-party service. You agree
            not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach
            of security or unauthorized use of your account.
          </li>
        </ol>
        <li>Termination</li>
        <ol type="a">
          <li>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason
            whatsoever, including without limitation if you breach the Terms.</li>
          <li>All provisions of the Terms which by their nature should survive termination shall survive termination, including,
            without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</li>
          <li>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever,
            including without limitation if you breach the Terms.</li>
          <li>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account,
            you may simply discontinue using the Service.</li>
        </ol>
        <li>Governing Law </li>
        <ol type="a">
          <li>These Terms shall be governed and construed in accordance with the laws of the Philippines, without regard to its
            conflict of law provisions.</li>
          <li> Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If
            any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these
            Terms will remain in effect.</li>
          <li>These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior
            agreements we might have between us regarding the Service.</li>
        </ol>
        <li>Changes</li>
        <ol type="a">
          <li>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is this
            material we will try to provide at least 15 days notice prior to any new terms taking effect. What constitutes
            a material change will be determined at our sole discretion.</li>
          <li>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the
            revised terms. If you do not agree to the new terms, you are free to stop using the Service.</li>
        </ol>
      </ol>

      <p text-center>Contact us at
        <a>wittywallet@gmail.com</a>
      </p>
      <p text-center class="smaller">Date of Last Revision: December 10, 2018.</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="view==='policy'" no-padding>
    <ion-card-content>
      <p text-justify>This policy describes information regarding the collection, use, and disclosure of user's (also "you") personal information
        when you use Witty Wallet's (also "us", "we", or "our") service. These policies are subject to change at any given
        time without notice.</p>

      <h4>I. What Information Do We Collect?</h4>
      <p text-justify>To provide Witty Wallet Services, we need to collect and process information about our users. This would include:</p>
      <ul>
        <li>
          <b>Information and Content You Provide</b>
          <p>Witty Wallet collects the content such as account information, budgets, transactions and other information you
            provide when you use Witty Wallet. We collect these information for the purposes stated in section II of this
            document.
          </p>
        </li>
        <li>
          <b>Application Usage</b>
        </li>
        <p>We collect information about how users use our service. These information may include, but is not limited to, features
          you use, the time and frequency of your usage, and the last time you accessed the application.</p>
      </ul>

      <h4>II. How Do We Use Data We Collect?</h4>
      <p text-justify>Witty Wallet use the information collected as described bellow:</p>
      <ul>
        <li>
          <b>Providing Content and Personaliztion</b>
          <p>Witty Wallet use the information users provide to personalize features and content for each user; this may include,
            but is not limited to, customized components in the UI, reminders, and notifications. We also use your information
            to provide content and features such as budget forecasts.</p>
        </li>
        <li>
          <b>Updates and Improvements</b>
          <p>We also use information from users to improve our service. Information can be used to develop new features and
            functions or improve existing ones.</p>
        </li>
        <li>
          <b>Safety and Security</b>
          <p>We use information you provide to verify accounts and activity, maintain the integrity of our application and promote
            the security of Witty Wallet's users' accounts.</p>
        </li>
        <li>
          <b>Reaching our Users</b>
          <p>We use the information we have to communicate with you about our services. We also use the information you provide
            in order to respond to your queries when you contact us.</p>
        </li>
      </ul>

      <p text-center>Contact us at
        <a>wittywallet@gmail.com</a>
      </p>
      <p text-center class="smaller">Date of Last Revision: December 10, 2018.</p>

    </ion-card-content>
  </ion-card>
</ion-content>