<ion-header>

  <ion-navbar no-border>
    <ion-title>Transactions</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="data" no-lines>
    <ion-item-divider class="strong">Wallet: {{walletName | ucwords}}</ion-item-divider>
    <ion-item *ngFor="let expense of data | reverse" text-wrap no-margin>
      <h5>{{expense.desc | ucwords}}</h5>
      <ion-note>{{expense.createdAt}}</ion-note>
      <ion-note float-right>{{expense.amount | currency: "PHP": 2}}</ion-note>
    </ion-item>
  </ion-list>

  <h5 float-right margin-right>
    <strong>Total: {{data | pluck:'amount' | sum | currency: "PHP": 2}}</strong>
  </h5>

  <ion-fab left bottom>
    <button ion-fab mini color="buttons" (click)="addTransaction()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>