.ios, .md {

  page-mywallets {
  
 
        .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }
 
    }
 
}


.strong{
    font-weight: bold;
    font-size: 1em;
    color: color($colors, main);
}
