<ion-header color="main">
  <ion-navbar>
    <ion-title (tap)="count()">My Playground</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="add()">
        <ion-icon name='add'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div no-padding *ngIf="surprise">
    <img src="../../assets/imgs/suprise.png">
  </div>

  <ion-card no-padding class="myCard">
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card no-padding>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-divider sticky>Expense Wallets</ion-item-divider>
    <ion-item *ngFor="let wallet of eWallets">
      <div *ngIf="wallet.categoryId!=='bll'" (click)="viewTransactions(wallet._id,wallet.name,wallet)">
        <strong>
          <h6>Name: {{wallet.name}}</h6>
        </strong>
        <h6>Period: {{wallet.period}}</h6>
        <p>Budget: {{wallet.amount}}</p>
        <p>Expenses: {{wallet.transactions | pluck:'amount' | sum}}</p>

      </div>
    </ion-item>
    <ion-item-divider>Savings Wallets</ion-item-divider>
    <ion-item *ngFor="let wallet of sWallets" (click)="viewDeposits(wallet._id,wallet.name)">
      <p>Name: {{wallet.name}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>{{budgetOverview.period}}</ion-item>
    <ion-item>{{budgetOverview.userId}}</ion-item>
    <ion-item>{{budgetOverview.totalExpenses}}</ion-item>
    <ion-item>{{budgetOverview.totalDeposits}}</ion-item>
    <ion-item>{{budgetOverview.totalBudget}}</ion-item>
    <ion-item>{{budgetOverview.extraSavings}}</ion-item>
    <ion-item-divider></ion-item-divider>
    <button ion-button color="main" (click)="saveArchive()">Save archive</button>
  </ion-list>

  <ion-card>
    <ion-card-header text-center>Notifications Data </ion-card-header>
    <ion-card-content>
      <p>{{notifJson}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>