<ion-header color="main">
  <ion-navbar>
    <ion-title>My Playground</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Select Category</ion-label>
      <ion-input value="" (click)="openCategories()" #categoryInput></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let name of names">
      {{name}}
      <button ion-button icon-only item-right clear color="danger" (click)="pop(name)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header text-center>Notifications Data </ion-card-header>
    <ion-card-content>
      <p>{{notifJson}}</p>
    </ion-card-content>
  </ion-card>

  <div>
    <button ion-button full color="main" (click)="getNext()">Get Next</button>
    <ion-list *ngIf="next">
      <ion-item *ngFor="let n of next">{{n.name}}</ion-item>
    </ion-list>
    <ion-list>
      <ion-item>{{budgetOverview.totalBudget}}</ion-item>
    </ion-list>
  </div>

  <div>
    <button ion-button full color="buttons" (click)="predict()">Predict</button>
    <ion-list *ngIf="predictData">
      <ion-item *ngFor="let m of predictData">
        <p>Wallet name: {{m.name}}</p>
        <p>Wallet type: {{m.type}}</p>
        <p>Wallet amount: {{m.oldAmount}}</p>
        <p>Amount to predict: {{m.amountToPredict}}</p>
        <p>Predicted Amount: {{m.predictedAmount}}</p>
      </ion-item>
    </ion-list>
  </div>

  <div>
    <ion-slides effect="progress" #slider>
      <ion-slide>
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button>Next</button>
          </ion-buttons>
        </ion-toolbar>
        <ion-label>Input 1</ion-label>
        <ion-input type="text"></ion-input>
        <button ion-button (click)="goToSlide(1)">Next</button>
      </ion-slide>

      <ion-slide>
        <ion-label>Input 2</ion-label>
        <ion-input type="text"></ion-input>
        <button ion-button (click)="goToSlide(0)">Back</button>
        <button ion-button (click)="goToSlide(2)">Next</button>
      </ion-slide>

      <ion-slide>
        <ion-label>Input 3</ion-label>
        <ion-input type="text"></ion-input>
        <button ion-button (click)="goToSlide(1)">Back</button>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>