<div *ngIf="menu==='overview'">
  <ion-list no-lines>
    <ion-item>Budget Suggestion</ion-item>
    <ion-item>Overview menu 2</ion-item>
    <ion-item>Overview menu 3</ion-item>
    <ion-item>Overview menu 4</ion-item>
  </ion-list>
</div>

<div *ngIf="menu==='profile'">
  <ion-list no-lines>
    <button ion-item (click)="editNickname()">Edit Nickname</button>
    <button ion-item (click)="changePassword()">Change Password</button>
    <button ion-item (click)="showOverview()">Budget Summary</button>
  </ion-list>
</div>

<ion-content padding *ngIf="menu==='budgetProfile'">
  <h5>The current month budget is not reflected on your Budget profile, all data our based from previous months budgets</h5>
</ion-content>