<div *ngIf="menu==='overview'">
  <ion-list no-lines>
    <ion-item>Overview menu 1</ion-item>
    <ion-item>Overview menu 2</ion-item>
    <ion-item>Overview menu 3</ion-item>
    <ion-item>Overview menu 4</ion-item>
  </ion-list>
</div>

<div *ngIf="menu==='profile'">
  <ion-list no-lines>
    <ion-item (click)="editNickname()">Edit Nickname</ion-item>
    <ion-item (click)="changePassword()">Change Password</ion-item>
    <ion-item (click)="showOverview()">View Budget Overview</ion-item>
  </ion-list>
</div>
