<ion-header color="main">
  <ion-navbar>
    <ion-title>My Wallets</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="showPopover($event)" ion-button icon-only>
        <ion-icon name="card"></ion-icon>
      </button>
      <button id="notif-button" ion-button icon-only>
        <ion-badge id="notif-badge" color="buttons">{{expenses.length}}</ion-badge>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar no-margin no-padding>
    <ion-segment color="light" [(ngModel)]="page" no-padding no-margin>
      <ion-segment-button value="0" (click)="selectedTab(0)">Expenses</ion-segment-button>
      <ion-segment-button value="1" (click)="selectedTab(1)">Savings</ion-segment-button>
      <ion-segment-button value="2" (click)="selectedTab(2)">Bills</ion-segment-button>
    </ion-segment>

    <div ion-text color="light" no-padding no-margin>
      <strong>
        <p float-start margin-left>{{period}}</p>
      </strong>
      <p margin-right float-end>Total Budget: {{wallets | pluck:'amount' | sum | currency: "PHP" :2}}</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <ion-item>
    <ion-label>Select Period</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item> -->

  <ion-slides #slider effect="flip" (ionSlideDidChange)="isChanged($event)" (ionSlideWillChange)="isChanged($event)" (ionSlideDrag)="isChanged($event)">

    <ion-slide>
      <ion-list>
        <ion-item-divider float-left class="strong">Expenses Wallets</ion-item-divider>
        <ion-item ion-item *ngFor="let wallet of wallets | filterBy: ['type']: 'expense'" (click)="viewTransactions(wallet._id)">
          <ion-icon name="{{wallet.category | pluck: 'icon'}}" item-start></ion-icon>
          <h6>
            <strong>{{wallet.name | ucwords}}</strong>
          </h6>
          <p>Budget: {{wallet.amount | currency: "PHP" :2}} </p>
          <p *ngIf="(wallet.transactions | pluck: 'amount' | sum) >= wallet.amount" ion-text color="danger">Expenses: {{wallet.transactions | pluck:'amount' | sum | currency: "PHP" :2}}
            <ion-icon name="alert"></ion-icon>
          </p>
          <p *ngIf="wallet.amount > (wallet.transactions | pluck: 'amount' | sum)">Expenses: {{wallet.transactions | pluck:'amount' | sum | currency: "PHP" :2}}</p>
          <p *ngIf="(wallet.transactions | pluck: 'amount' | sum) >= wallet.amount" ion-text color="danger">Remaining: {{wallet.amount - (wallet.transactions | pluck:'amount' | sum) | currency: "PHP" :2}}
            <ion-icon name="alert"></ion-icon>
          </p>
          <p *ngIf="wallet.amount > (wallet.transactions | pluck: 'amount' | sum)">Remaining: {{wallet.amount - (wallet.transactions | pluck:'amount' | sum) | currency: "PHP" :2}}</p>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item-divider float-left class="strong">Savings Wallets</ion-item-divider>
        <ion-item *ngFor="let wallet of wallets | filterBy: ['type']: 'savings'">
          <h6>
            <strong>{{wallet.name | ucwords}}</strong>
          </h6>
          <p>Budget: {{wallet.amount | currency: "PHP" :2}}</p>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item-divider float-left class="strong">Bills Wallet</ion-item-divider>
        <div>
          <button ion-button block clear (click)="goToBills()">Manage Bills</button>
        </div>
        <ion-item *ngFor="let wallet of wallets | filterBy: ['type']: 'bills'">
          <h6>
            <strong>{{wallet.name | ucwords}}</strong>
          </h6>
          <p>Budget: {{wallet.amount | currency: "PHP" :2}}</p>
        </ion-item>
      </ion-list>
    </ion-slide>

  </ion-slides>

</ion-content>