<ion-header color="main">
  <ion-toolbar no-margin no-padding>
    <ion-segment color="light" [(ngModel)]="page" no-padding no-margin>
      <ion-segment-button value="0" (click)="selectedTab(0)">Expenses</ion-segment-button>
      <ion-segment-button value="1" (click)="selectedTab(1)">Savings</ion-segment-button>
    </ion-segment>

    <div ion-text color="light" no-padding no-margin>
      <strong>
        <p float-start margin-left>{{period}}</p>
      </strong>
      <p margin-right float-end>Total Budget: {{wallets | pluck:'amount' | sum | currency: "PHP" :2}}</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides #slider effect="flip" (ionSlideDidChange)="isChanged($event)" (ionSlideWillChange)="willChange($event)" (ionSlideDrag)="willChange($event)">

    <ion-slide>
      <ion-list>
        <ion-item-divider float-left class="strong">Expenses</ion-item-divider>
        <ion-item ion-item *ngFor="let wallet of wallets | filterBy: ['type']: 'expense'">
          <ion-icon name="{{wallet.category | pluck: 'icon'}}" item-start></ion-icon>
          <div *ngIf="wallet.categoryId!=='bll'" (click)="viewTransactions(wallet._id,wallet.name)">
            <h6>
              <strong>{{wallet.name | ucwords}}</strong>
            </h6>
            <p>Budget: {{wallet.amount | currency: "PHP" :2}} </p>
            <p ion-text [color]="(wallet.transactions | pluck: 'amount' | sum) >= wallet.amount ? 'danger':'greenx'">Expenses: {{wallet.transactions | pluck:'amount' | sum | currency: "PHP" :2}}
              <ion-icon [name]="(wallet.transactions | pluck: 'amount' | sum) >= wallet.amount ? 'alert':'thumbs-up'"></ion-icon>
            </p>
            <p ion-text [color]="(wallet.transactions | pluck: 'amount' | sum) >= wallet.amount ? 'danger':'greenx'">Remaining: {{wallet.amount - (wallet.transactions | pluck:'amount' | sum) | currency: "PHP" :2}}
              <ion-icon [name]="(wallet.transactions | pluck: 'amount' | sum) >= wallet.amount ? 'alert':'thumbs-up'"></ion-icon>
            </p>
          </div>
          <div *ngIf="wallet.categoryId==='bll'">
            <h6>
              <strong>{{wallet.name | ucwords}}</strong>
            </h6>
            <p>Allocated: {{wallet.amount | currency: "PHP" :2}} </p>
          </div>
          <ion-icon item-end color="main" name="more"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <ion-item-divider float-left class="strong">Savings</ion-item-divider>
        <ion-item *ngFor="let wallet of wallets | filterBy: ['type']: 'savings'">
          <div>
            <h6>
              <strong>{{wallet.name | ucwords}}</strong>
            </h6>
            <p>Allocated: {{wallet.amount | currency: "PHP" :2}}</p>
          </div>
          <ion-icon item-end name="more" color="main"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-slide>

  </ion-slides>

  <ion-fab top right>
    <button ion-fab icon-only mini (click)="addWallet()" [color]="page==='0' ? 'main':'greenx'">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>