page-home{
}
.safe{
    color: white;
}
.danger{
    font-weight: bold;
}
.swiper-slide{
    overflow-y: scroll;
    display: block;
}
ion-slides{
    margin: 0 auto;
    .swiper-pagination-progress .swiper-pagination-progressbar {
        background: color($colors, sub);
      }
}






