<ion-header>

  <ion-navbar>
    <ion-title>Manage Wallets</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="backToHome()">
        <ion-icon name='home'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-note>SWIPE AN ITEM TO THE RIGHT FOR OPTIONS</ion-note>
  <ion-list>
    <ion-item-divider no-padding class="strong">EXPENSE WALLETS
      <button ion-button item-start icon-only clear color="main" (click)="addWallet(false)">
        <ion-icon item-start name="add-circle"></ion-icon>
      </button>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let wallet of wallets | filterBy: ['type']: 'expense'">
      <ion-item tappable>
        <p>{{wallet.name | ucwords}}</p>
        <small>{{wallet.category |ucwords }} category</small>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button clear color="primary" (click)="editWallet(wallet)">
          <ion-icon name="document"></ion-icon>
          Edit
        </button>
        <button ion-button clear color="danger" (click)="deleteWallet(wallet._id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-divider no-padding class="strong">SAVINGS WALLETS
      <button ion-button icon-only item-start clear color="main" (click)="addWallet(true)">
        <ion-icon item-start name="add-circle"></ion-icon>
      </button>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let wallet of wallets | filterBy: ['type']: 'savings'">
      <ion-item>
        {{wallet.name | ucwords}}
      </ion-item>
      <ion-item-options side="left">
        <button ion-button expandable clear color="primary" (click)="editWallet(wallet)">
          <ion-icon name="document"></ion-icon>
          Edit
        </button>
        <button ion-button clear color="danger" (click)="deleteWallet(wallet._id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>