<ion-header>

  <ion-navbar>
    <ion-title>Manage Wallets</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-note>SWIPE AN ITEM TO THE LEFT FOR OPTIONS</ion-note>
  <ion-list>
    <ion-item-divider no-padding class="strong">EXPENSE WALLETS
      <button ion-button item-start icon-only clear color="main" (click)="addWallet(false)">
        <ion-icon item-start name="add-circle"></ion-icon>
      </button>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let wallet of expenseWallets">
      <ion-item>
        <p>{{wallet.name | ucwords}}</p>
        <small ion-text color="watermelon">{{wallet.category |ucwords }}</small>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button clear color="breeze" (click)="editExpense(wallet,expense)">
          <ion-icon name="document"></ion-icon>
          Edit
        </button>
        <button ion-button clear color="danger" (click)="deleteExpense(wallet._id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-divider no-padding class="strong">SAVINGS WALLETS
      <button ion-button icon-only item-start clear color="main" (click)="addWallet(true)">
        <ion-icon item-start name="add-circle"></ion-icon>
      </button>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let wallet of savingsWallets">
      <ion-item>
        <p>{{wallet.name | ucwords}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button expandable clear color="breeze" (click)="editSavings(wallet)">
          <ion-icon name="document"></ion-icon>
          Edit
        </button>
        <button ion-button clear color="danger" (click)="deleteSavings(wallet._id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>