// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.scroll-content {
  overflow-y: auto !important;
 }

::-webkit-scrollbar, *::-webkit-scrollbar{
  display: none;
}

.active{
  color: color($colors, main);
  background-color: color($colors, light);
}

ion-menu{
  #menuHead{
    height: 7.5em;

    h2{
      font-size: 1.3em!important;
    }
  }

  ion-list{
    ion-icon{
      font-size: 1.3em!important;
      padding-top: 0.1em;
    }

    ion-item-divider{
      margin-top: -16.5px!important;
      margin-left: 2.5em;
      width: 80%;
      background-color: rgba(0, 0, 0, 0);
    }

  .signout{
    margin-top: .85em!important;
  }
  }

  ion-item{
    background-color: color($colors, main)!important;
    color: white!important;
  }
}