<!-- Generated template for the HeaderMenuComponent component -->
<div>
  <ion-list>
    <ion-list-header no-padding margin-left>
      Menu
    </ion-list-header>
    <ion-item detail-push>
      <ion-icon name="person" item-start></ion-icon>
      My Account
    </ion-item>
    <ion-item detail-push>
      Item 2
    </ion-item>
    <ion-item detail-push>
      Item 3
    </ion-item>
    <ion-item-divider padding-top></ion-item-divider>
    <ion-item (click)="logout()">
      <ion-icon color="danger" name="log-out" item-end></ion-icon>
      Sign Out
    </ion-item>

  </ion-list>
</div>