page-challenges {
    .indicator-done, .indicator-pending{
        border-radius: 100%;
        background-color: mediumseagreen;
        padding: 35% 22% 32% 22%;
        color: white;
        font-size: 1.2em;
        text-align: center;
    }

    .indicator-pending{
        background-color: gray;
    }

    div{
        display: inline-block;
    }

    #icon{
        float: left;
        width: 20%;
        position: relative;
        top: 1.9em;
        left: 1.3em;
        margin-right: 3%;
    }

    #ftWeek{
        ion-card-content{
            margin-top: -12px; 
        }
    }
}
