<!--
  Generated template for the ChallengesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Savings Challenge</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Take a saving challenge!</h1>
  <h5>Select a challenge to complete and earn a
    <i>Witty</i> Title!</h5>
  <ion-list>
    <ion-item *ngFor="let x of data; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active:isGroupShown(i)}">
      <h3>{{x.title}}
        <ion-icon color="main" item-end [name]="isGroupShown(i) ? 'arrow-dropdown': 'arrow-dropright'"></ion-icon>
      </h3>
      <ion-list *ngIf="isGroupShown(i)">
        <ion-item>{{x.details}}</ion-item>
        <button color="buttons" item-end ion-button block>Take Challenge</button>
      </ion-list>

    </ion-item>
  </ion-list>

</ion-content>