page-budget-overview {
    .header-title {
        font-weight: bold;
        text-align: center;
    }
    ion-segment { 
        position: sticky;
    }
    .strong{
        font-size: 1em!important;
        font-weight: bold;
    }

}
.smaller{
    font-size: .9em!important;
}



