page-signup {
    
    ion-content{
        text-align:center;
    }
    img{
        width: 40%;
    }
    #tip{
        margin-top: 0 !important;
        padding-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}
