<ion-header>

  <ion-navbar>
    <ion-title *ngIf="isSavings===true">New Savings Wallet</ion-title>
    <ion-title *ngIf="isSavings===false">New Expense Wallet</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="addWalletForm" (ngSubmit)="addWallet()">
    <ion-item>
      <ion-label floating>Wallet Name</ion-label>
      <ion-input type="text" [(ngModel)]="wallet.name" formControlName="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Set Budget</ion-label>
      <ion-input type="number" [(ngModel)]="wallet.amount" formControlName="budget" name="budget"></ion-input>
    </ion-item>

    <ion-item *ngIf="isSavings===false">
      <ion-label floating>Choose Category</ion-label>
      <ion-select [(ngModel)]="wallet.categoryId" formControlName="categoryId" name="categoryId" interface="action-sheet">
        <ion-option *ngFor="let category of categories" value={{category._id}}>
          {{category.desc | ucwords}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item-divider no-lines></ion-item-divider>

    <button ion-button block color="main" [disabled]="!addWalletForm.valid" type="submit">Add Wallet</button>
  </form>

</ion-content>